@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #000000;
    color: #ffffff;
    width: 100vw;
    height: 100vh;
    overflow: hidden ;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsive {
    margin-top: -5vw;
}

h1 {
    border-bottom: 3px solid cyan;
    text-align: center;
    color: aqua;
    text-shadow: 0px 0px 5px aqua;
}

#relogio {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border: 4px solid aqua;
    box-shadow: 0px 0px 10px 0px aqua;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    gap: 10px;
}

#contador {
    margin-top: 30px;
}

#tempo {
    text-shadow: 0px 0px 5px cyan;
    color: cyan;
}

.buttons {
    display: flex;
    gap: 10px;
}

.iniciar, .pausar, .reiniciar, .retomar {
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 8px;
    text-transform: uppercase;
    cursor: pointer;
    display: none;
    transition: .4s;
    border: none;
}

.ativar {
    display: block;
}

.iniciar {
    background-color: aqua;
    color: #000000;
    box-shadow: 0px 0px 10px 0px aqua;
}

.reiniciar {
    background: red;
    box-shadow: 0px 0px 10px 0px red;
}
.pausar {
    background-color: darkgreen;
    box-shadow: 0px 0px 10px 0px darkgreen;
}
.retomar {
    background-color: rgb(209, 141, 16);
}

#milisegundos {
    font-size: 1.2rem;
    color: orangered;
    text-shadow: 0px 0px 5px orangered;
}

@media (min-width: 1340px) {
    .responsive {
        position: absolute;
        top: 30%;
        transform: scale(3)
    }
}